* {
    color: #245e0d;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: none;
}

fieldset {
    margin-bottom: 30px;
    border-color: #973636;
    border-radius: 10px;
}

body {
    width: 600px;
    margin: 0 auto;
}

.img_container {
    display: flex;
    justify-content: center;
}

.displayed {
    display: inline-flex;
}
