body {
    margin: 0;
}

#field {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

#pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
    display: none;
}

#pointer.displayed {
    display: block;
}
